{% extends "parent/parent.html" %}
{% load static %}
{% load tags %}
{% block title %}
EchoPen | Home
{% endblock %}
{% block links %}
    <link rel="stylesheet" href='{% static "css/home.css" %}'>
{% endblock %}
{% block content %}
<div style="position: relative;z-index: 2;">
    <h1 class="title"></h1>
    {% if request.user.is_authenticated %}
        <button class="btn"><a href="/Dashboard/{{ request.user.slug }}">Go To Dashboard</a></button>
    {% else %}
        <button class="btn"><a href="SignUp/">Get Started</a></button>
    {% endif %}


    <div class="web-data-container">
        <div class="data">
            <!-- this number should be change when i created django file -->
            <p class="data-num" data-num="{% user_num %}"></p>
            <p class="data-lable">users</p>
        </div>
        <div class="data">
            <p class="data-num" data-num="{% article_num %}"></p>
            <p class="data-lable">articles</p>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
<!-- TypeIt JS -->
<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
<script>
    new TypeIt(".title", {
        strings: "EchoPen Is a Website For Write Articles And Read Articles ",
        speed: 60,
    }).go();
</script>
<!-- My Script  -->
<script src='{% static "Js/loadData.js" %}'></script>
{% endblock %}